.white_color {
	-fx-background-color: white;
	-fx-background-radius: 35
}

.blue_color {
   -fx-background-color: linear-gradient(to bottom left, #00A9CC, #020024);
   -fx-background-radius: 40
}

.window_button {
	-fx-background-radius: 40;
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #000000b0;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.window_button:hover {
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #00000098;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}