
.white_color {
	-fx-background-color: white;
	-fx-background-radius: 20 20 20 20;
}

.blue_color {
   -fx-background-color: linear-gradient(to bottom left, #00A9CC, #020024);
   -fx-background-radius: 25 25 25 25;
}

.menu_buttom {
	-fx-font-weight: normal;
	-fx-font-size: 14;
}

.menu_buttom:hover {
	-fx-font-weight: normal;
	-fx-font-size: 14;
	-fx-text-fill: white;
}

.menu_buttom:focused {
	-fx-background-color: #325c6a;
	-fx-text-fill: white;
}

.starter_buttom {
	-fx-background-color: linear-gradient(to bottom left, #00A9CC, #020024);
	-fx-font-weight: normal;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-background-radius: 20
}

.starter_buttom:hover {
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 20;
    -fx-text-fill: #000000b0;
    -fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
    -fx-border-width: 4;
    -fx-border-radius: 20;
}

.starter_small_buttom {
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-background-radius: 12;
    -fx-text-fill: #000000b0;
    -fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
    -fx-border-width: 3;
    -fx-border-radius: 12;
}
.starter_small_buttom:hover {
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 14;
    -fx-text-fill: #00000098;
    -fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
    -fx-border-width: 3;
    -fx-border-radius: 12;
}

.window_button {
	-fx-background-radius: 40;
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 11;
    -fx-text-fill: #000000b0;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.window_button:hover {
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 11;
    -fx-text-fill: #00000098;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}
