
.white_color {
	-fx-background-color: white;
	-fx-background-radius: 20 20 20 20;
}

.white_color_round {
	-fx-background-color: white;
	-fx-background-radius: 20 20 20 20;
}

.blue_color {
   -fx-background-color: linear-gradient(to bottom left, #00A9CC, #020024);
   -fx-background-radius: 25 25 25 25;
}

.window_button {
	-fx-background-radius: 40;
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #000000b0;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.window_button:hover {
	-fx-background-color: #d8d8d8;
	-fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-text-fill: #00000098;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.window_button_big {
	-fx-background-radius: 40;
	-fx-background-color: white;
	-fx-font-weight: normal;
    -fx-font-size: 16;
    -fx-text-fill: #000000b0;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.window_button_big:hover {
	-fx-background-color: #d8d8d8;
	-fx-font-weight: normal;
    -fx-font-size: 16;
    -fx-text-fill: #00000098;
	-fx-border-width: 2;
    -fx-border-radius: 40;
	-fx-border-color: linear-gradient(to bottom left, #00A9CC, #020024);
}

.tree-table-cell:centered {
    -fx-alignment: center;
}




